<%# <h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p> %>

<h1 class="edit-user-data-title">登録情報編集</h1>
<div class="edit-user-data-personal-wrapper">
    <%= form_for @user do |f| %>
        <p>
            <%= f.label :name,"お名前" %>
            <%= f.text_field :name %>
        </p>
        <p>
            <%= f.label :age, "ご年齢" %>
            <%= f.text_field :age %>
        </p>
        <p>
            <%= f.label :description,"ご挨拶" %>
            <%= f.text_field :description %>
        </p>
</div>
<div class="edit-user-skill-data">
    <div class="check_box edit-user-skill-data-checkbox" >
        <%= f.collection_check_boxes(:skill_ids, Skill.all, :id, :skill_name) do |b| %>
            <%= b.label { b.check_box + b.text } %>
            <br>
        <% end %>
    </div>
    <p class="add-skill-tag"><%= link_to "スキルタグの追加",new_skill_path %></p>
    <div class="update-user-data-btn">
        <%= f.submit "ユーザー情報の更新"%>
    </div>
<% end %>
</div>