<%# <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> %>
<div class="user">
    <% @user.each do |user| %>
        <div class="user-personal">
            <p class="user-personal-data">
                <span class="user-personal-data-bold">(名前)  </span><%= user.name %><br><br>
                <span class="user-personal-data-bold">(忙しさ)  </span><%= user.status %><br><br>
                <span class="user-personal-data-bold">(挨拶)  <br></span><%= user.description %><br>
            </p>
            <p class="personal-url">
            <%= link_to '詳細はこちら！', user_path(user) %>
            </p>
            <p class="twitter-url">
                <%= link_to "Twitterはこちら！", "https://twitter.com/#{user.twitter}" %>
            </p>

            <% user.skills.each do |skill| %>
            <p class="user-personal-skill-name"><%= skill[:skill_name] %></p>
            <!--<p><%= skill[:skill_level] %></p>-->
            <% end %>
            <%# link_to "編集", edit_user_path(user) %>
            <%# link_to "削除", user_path(user), method: :delete, data: {confirm: "削除しますか?"} %>
        </div>
    <% end %>
</div>