<h2 class="login-title">ログイン画面</h2>
<div class="login-wrapper">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field field-mail">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field field-password">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field field-remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions action-buttun-login">
      <%= f.submit "ログイン" %>
    </div>

    <div>
      <p>こちらのEメールとパスワードで<br>簡単にログインできます。</p>
      <p>Eメール: 【 zxc@tr.com 】</p>
      <p>パスワード: 【 zxctrcom 】</p>
    </div>
  <% end %>
</div>
<div class="login-link">
  <%= render "devise/shared/links" %>
</div> 
