    <div class="header">
    <h1>スキル把握アプリ</h1>
        <div class="header-nav">
            <% if user_signed_in? %>
                <div class="header-nav-list"><%= link_to 'マイページ', mypage_path %></div>
                <div class="header-nav-list"><%= link_to 'ユーザー一覧', users_path %></div>
                <div class="header-nav-list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></div>
            <% else %>
                <div class="header-nav-list"><%= link_to 'ログイン', new_user_session_path %></div>
                <div class="header-nav-list"><%= link_to '新規登録', new_user_registration_path %></div>
            <% end %>
        </div>
    </div>